---
import Layout from '../layouts/BlogPost.astro';
// import Markdown from '@astro.components';
import '../styles/global.css';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('November 07 2023')}
	heroImage="/blog-placeholder-about.jpg"
>

<!-- <p>
	While I didn't know it at the time, I've been trying to make a computer do what I want
	since about the 7th grade. We were required to have a TI-83/84+/SE for math and science 
	classes. Almost immediately, I learned that you can not only play games on them, but 
	you can write programs for them directly on the device. For class purposes, this meant 
	taking my algebra and physics equations and writing them in a way that would produce 
	right answers. Inadvertently, when taking tests and quizzes, I found it easier to 
	mentally and mechanically run the program in my head and produce the results of each 
	step on the page to show my work. <em>Then</em>, I could use my programs to verify my 
	answers. 
</p>
<p>
	In high school, I knew I had an affinity for computers and such devices, but wasn't 
	sure what I could do with it. I could troubleshoot Windows better than anyone else my 
	age that I knew so I could fix minor problems, but not do anything of merit. I would go 
	on YouTube to see what kinds of crazy things were possible with batch files and VB Script. 
	There were neat things out there and I did try a few of them, but I didn't understand them 
	as well as I wanted to. A <code>MsgBox()</code> in a script would cause a popup, but I didn't 
	know what else it could do or have it appear conditionally. 
</p>
<p>
	Because I've always been in music, piano since 2<sup>nd</sup> grade and clarinet since 5<sup>th</sup>,
	I thought music was the way to go. It didn't work out. While being a church musician would have been 
	just fine, because of where I live, my options were limited and I didn't have the network. 
</p> -->
</Layout>
<style>
h1, h2, h3,
h4, h5, h6 {
	color: white;

}
</style>